.back-icon {
    font-size: 1.8rem;
    margin: 0.8rem;
    color: #3e514c;
}

.post-title {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: 1.5rem auto 1.2rem auto;   
}

.date-style {
    font-size: 0.9rem;
    font-style: italic;
    margin-left: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    color: #786f6f;
}

.post-text {
    margin: 1.5rem;
    text-align: justify;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
    font-size: 1.1rem;
    color: #413b3b;
}

.button-style {
    text-align: center;
    margin-top: 6.0rem;
}

.close {
    --background: #de8c8a;
    width: 7.5rem;
    height: 2.0rem;
}

.delete {
    font-size: 1.1rem;
    --color: red;
    font-weight: 500;
}

.edit {
    font-size: 1.1rem;
    --color: black;
    font-weight: 500;
}
