<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="back()"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <img [src]="post.newsImage" [hidden]="!post.newsImage">
  <div>
    <p class="post-title">{{ post?.newsTitle }}</p>
    <p class="date-style">{{ post?.timestamp.toDate() | date:'dd LLLL yyyy'}}</p>
    <p class="post-text">{{ post?.newsText }}</p>
  </div>
</ion-content>


<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>
          <ion-button class="close" (click)="close()">
            CLOSE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<!-- <ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" fill="clear" class="edit" (click)="editPostPage(post)">EDIT</ion-button>
        </ion-col>
  
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" fill="clear" class="delete" (click)="deletePost(post.newsID)">DELETE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer> -->
