<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Add Post</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="container">
    <div style="margin-top: 1.0rem;">
      <p class="ann">NEW ANNOUNCEMENT</p>
      <p class="content">Title</p>
      <ion-input [(ngModel)]="post.newsTitle" placeholder="Enter title here" type="text" required></ion-input>

      <p class="content">Details</p>
      <ion-textarea auto-grow="true" [(ngModel)]="post.newsText" placeholder="Enter more details here..." required type="text"
        spellcheck="true" autocapitalize="true"></ion-textarea>

      <ion-card class="card-style">
        <ion-card-content class="card-content">
          <!-- <ion-icon name="camera-outline" class="icon"></ion-icon>
          <ion-button fill="clear" class="button-ud">UPLOAD</ion-button> -->
          <ion-button class="upload" fill="clear" (click)="chooseImage($event)">
            <div class="div">
              <ion-icon name="camera-outline" class="icon"></ion-icon>
              <ion-label class="label">UPLOAD</ion-label>
            </div>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-grid class="align-button">
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-button expand="full" fill="clear" class="cancel" (click)="cancel()">CANCEL</ion-button>
          </ion-col>
    
          <ion-col size="6" class="ion-text-center">
            <ion-button expand="full" expand="block" class="post" (click)="createPost(post)">POST</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <!-- <ion-button class="ion-padding" color="primary" expand="full" (click)="createPost(post)">
    Cancel
  </ion-button> -->

</ion-content>