<ion-content>
  <div class="container">
    <div style="margin-top: 1.0rem;">
      <p class="ann">EDIT ANNOUNCEMENT</p>
      <p class="content">Title</p>
      <ion-input [(ngModel)]="post.newsTitle" type="text" required></ion-input>

      <p class="content">Details</p>
      <ion-textarea rows="9" [(ngModel)]="post.newsText" required type="text"
        spellcheck="true" autocapitalize="true"></ion-textarea>

      <ion-card class="card-style">
        <ion-card-content class="card-content">
          <ion-button class="upload" fill="clear" (click)="chooseImage($event)">
            <div class="div">
              <ion-icon name="camera-outline" class="icon"></ion-icon>
              <ion-label class="label">UPLOAD</ion-label>
            </div>
          </ion-button>
        </ion-card-content>
      </ion-card>

      <ion-grid class="align-button">
        <ion-row>
          <ion-col size="6" class="ion-text-center">
            <ion-button expand="full" fill="clear" class="cancel" (click)="cancel()">CANCEL</ion-button>
          </ion-col>
    
          <ion-col size="6" class="ion-text-center">
            <ion-button expand="full" expand="block" class="update" (click)="updatePost(post)">UPDATE</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

</ion-content>
