
.container {
    height: fit-content;
    background: white;
    border-radius: 0.8rem;
    margin: 0.7rem;
}

.ann {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1.2rem;
    letter-spacing: 0.03rem;
    color: #37534b;
}

.content {
    font-weight: 400;
    font-size: 1.15rem;
    letter-spacing: 0.04rem;
    padding-top: 1.0rem;
    padding-left: 1.0rem;
    margin: 0;
}

ion-input {
    border-bottom: 1px solid #96b5ad;
    font-size: 1.1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

ion-textarea {
    border-bottom: 1px solid #96b5ad;
    font-size: 1.1rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    
}

.card-style {
    background: #fcfdfc;
    box-shadow: 0px 2px 4px 1px #dedada;
    margin: 2.0rem;
}

.card-content {
    text-align: center;
}

.icon {
    font-size: 3.5rem;
    color: #8f8f8f;
}

.div {
    display: flex;
    flex-direction: column;
    align-items: center;
    // --background: #E89166;
}

.upload {
    height: 5.8rem;
}

.label {
    color: #8f8f8f;
}

.align-button {
    margin-top: 7.35rem;
}

.cancel {
    color: #30403b;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

.update {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    --background: #E89166;
}
