<div *ngIf="mybooking?.length > 0; else Empty">
  <div *ngFor="let book of mybooking">
    <ion-card style="margin: 1.0rem;" (click)="openBookingDetails(book)">
      <ion-card-header>
        <ion-card-title class="title">{{book.facilityName}}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="padding: 0.8rem;">
        <ion-grid>
          <ion-row>
            <ion-col style="padding: 0; margin-right: -1.0rem; margin-left: -0.4rem;">
              <img class="image" [src]="book?.facilityImage">
            </ion-col>
            <ion-col style="padding: 0; margin-top: -0.5rem;">
              <p class="content">{{book.date}}</p>
              <p class="content">{{book.slot}}</p>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
  </div>
  
</div>


<ng-template #Empty>
  <p class="default">You have no recent bookings</p>
</ng-template>
