.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
}

.image {
    object-fit: cover;
    width: 73%;
    height: 4.3rem;
    border-radius: 0.5rem;
    transform: translate(5px, 0px);
    margin-top: -0.6rem;
}

.title {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.04rem;
}

.content {
    font-size: 0.95rem;
    letter-spacing: 0.03rem;
    font-weight: 400;
    color: #444444;
}

ion-card {
    background: #f5f5f5;
    box-shadow: 0px 3px 3px 1px #dedada;
}