<div class="container">
  <div style="margin-top: 1.0rem;">
    <p class="title">UPDATE PROFILE</p>

    <ion-item>
      <ion-label position="stacked">Full Name</ion-label>
      <ion-input [(ngModel)]="profile.fullName" type="text" pattern="^[a-z A-Z]+$" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">I/C Num</ion-label>
      <ion-input [(ngModel)]="profile.icNum" type="number" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Birthdate</ion-label>
      <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="profile.birthDate"></ion-datetime>
    </ion-item>

    <div class="gender">
      <ion-radio-group [(ngModel)]="profile.gender">
        <ion-list-header>
          <ion-label class="g">Gender</ion-label>
        </ion-list-header>
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item lines="none">
                <ion-label class="option">Female</ion-label>
                <ion-radio slot="start" value="0"></ion-radio>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item lines="none">
                <ion-label class="option">Male</ion-label>
                <ion-radio slot="start" value="1"></ion-radio>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-radio-group>
    </div>

    <div class="button">
      <ion-button size="default" (click)="updateMyProfile(profile)">UPDATE</ion-button>
    </div>
  </div>
</div>