.container {
    height: fit-content;
    background: white;
    border-radius: 0.8rem;
    margin: 0.7rem;
}

.title {
    font-weight: 500;
    font-size: 1.1rem !important;    
    text-align: center;
    letter-spacing: 0.03rem;
    color: #37534b;
}

ion-item {
    --background: #eaf3e9;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

ion-label {
    font-size: 1.2rem !important;
    color: #4c4c4c !important;
    letter-spacing: 0.04rem;
    font-weight: 500;
}

.g {
    color: #4c4c4c !important;
    letter-spacing: 0.03rem;
    font-size: 1.0rem !important;
    font-weight: 500;
}

ion-input {
    padding: 0.4rem 0 0.4rem 0 !important;
    font-weight: 400;
    color: #202f29;
    letter-spacing: 0.05rem;
    font-size: 1.05rem;
}


ion-datetime {
    padding: 0.8rem 0 0.8rem 0 !important;
    font-weight: 400;
    color: #202f29;
    letter-spacing: 0.04rem;
    font-size: 1.1rem;
}

ion-grid {
    padding: 0;
    margin-top: -0.5rem;
}

.gender {
    background: #eaf3e9;
    margin: 0.5rem;
    border-radius: 0.3rem;
}


.option {
    font-size: 1.05rem !important;
    color: #202f29 !important;
    font-weight: 400;
}

ion-button {
    --background: #de8c8a;
    font-size: 1.0rem;
    margin: 3.0rem;
    width: 6.5rem;
}

.button {
    text-align: center;
}

.align {
    margin: 0;
    padding: 0;
}
