<div *ngIf="complaints?.length > 0; else Empty">
  <ion-grid>
    <ion-row *ngFor="let complaint of complaints" class="container" (click)="goToComplaintModal(complaint)">
      <ion-col size="8">
        <p class="title">{{ complaint?.complaintTitle }}</p>
        <p class="com-date">{{ complaint?.complaintDate.toDate() | date:'dd LLLL yyyy' }}</p>
      </ion-col>
      <ion-col size="4" class="second-col">
        <p class="com">Complaint</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>
<ng-template #Empty>
  <p class="default">There is no submitted complaint</p>
</ng-template>


<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="goToAddComplaint(id, unitNum, block)">
    <ion-icon name="add" style="font-size: 1.5rem;"></ion-icon>
  </ion-fab-button>
</ion-fab>