<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">VISITOR</p>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="status">
    <ion-segment-button value="Pending">
      <ion-label>Pending</ion-label>
    </ion-segment-button>
    <ion-segment-button value="Visited">
      <ion-label>Visited</ion-label>
    </ion-segment-button>
  </ion-segment>


    <app-pending
    *ngIf="status == 'Pending'"
    [id]="unit.unitID"
    [block]="unit.block"
    [unitNum]="unit.unitNum"
    [pending]="visPending">
    </app-pending>
  
    <app-visited
    *ngIf="status == 'Visited'"
    [id]="unit.unitID"
    [block]="unit.block"
    [unitNum]="unit.unitNum"
    [visited]="visVisited">
    </app-visited>


  <!-- <ng-template #Empty>
    <p class="default">You have no recent visitor history</p>
  </ng-template> -->

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" >
    <ion-fab-button (click)="goToAddVisitor(unit.unitID, unit.block, unit.unitNum)">
      <ion-icon name="add" style="font-size: 1.5rem;"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  
</ion-content>
