<div *ngFor="let fac of facility" (click)="goToFacility(fac)">
  <ion-list lines="none" style="padding: 0;">
    <ion-item>
      <ion-label style="margin: 1.0rem 0 0 0;">
        <div style="margin-bottom: -2.2rem;">
          <img [src]="fac?.facilityImage">
          <div class="name">{{fac?.facilityName}}
          </div>
        </div>
        <p class="desc">{{fac?.editText}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</div>