img {
    border-radius: 0.4rem;
}

.name {
    position: relative;
    bottom: 2.7rem;
    color: white;
    letter-spacing: 0.04rem;
    padding-left: 0.9rem;
    padding-top: 0.5rem;
    background-color: #ffffff5c;
    height: 2.5rem;
    font-weight: 400;
    font-size: 1.1rem;

}

.desc {
    white-space: normal;
    text-align: justify;
    color: black;
    font-size: 0.98rem;
    font-weight: 100;  
    line-height: 1.3rem;
    letter-spacing: 0.04rem;
    margin: 0.4rem;
}