.flex {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 0.04rem;
    margin: 1.5rem 0 1.0rem 0;
}

p {
    margin: 0.5rem;
}

.details p {
    font-size: 1.1rem;
    font-weight: 400;
    letter-spacing: 0.04rem;
    color: #6f6d6d;
    text-align: center;
}

ion-label {
    font-size: 1.1rem;
    font-weight: 500;
    letter-spacing: 0.03rem;
    text-align: center;
}

.align {
    margin: 2.0rem 0 0 0;
}

.option {
    font-size: 1.0rem;
    font-weight: 400;
}

.cancel {
    font-size: 1.3rem;
    margin: 0.5rem 0 -1.2rem -0.8rem;
    color: black;
}

.delete {
    --color: #30403b;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}


.update {
    color: white;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    --background: #de8c8a;
}