<div>
  <ion-button fill="clear" class="cancel" (click)="close()">
    <ion-icon name="close-outline"></ion-icon>
  </ion-button>

  <div class="flex">
    <p class="title">VISITOR DETAILS</p>
    <div class="details">
      <p>{{ details?.visName }}</p>
      <p>{{ details?.visPhone }}</p>
      <p>{{ details?.vehicle}}</p>
      <p>{{ details?.vehiclePlate}}</p>
      <p>{{ details?.visitDate | date:'EEEE, MMMM d, y' }}</p>
    </div>
  
    <ion-radio-group [(ngModel)]="details.status">
      <ion-list-header>
        <ion-label class="align">Status</ion-label>
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <ion-item lines="none" style="width: fit-content;">
              <ion-label class="option">Pending</ion-label>
              <ion-radio slot="start" value="Pending"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col size="6">
            <ion-item lines="none" style="width: fit-content;">
              <ion-label class="option">Visited</ion-label>
              <ion-radio  slot="start" value="Visited"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </div>
 
</div>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" fill="clear" class="delete" size="small" (click)="delete(details.visitorID)">DELETE</ion-button>
        </ion-col>
  
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" expand="block" class="update" size="small" (click)="updateDetails(details)">UPDATE</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>