<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">SETTINGS</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full">
    <ion-item button (click)="changePasswordAlert()">
      <ion-icon name="cog-outline" slot="start"></ion-icon>
      <ion-label>Change Password</ion-label>
    </ion-item>
  
    <ion-item button (click)="signOut()">
      <ion-icon name="log-out-outline" slot="start"></ion-icon>
      <ion-label>Sign Out</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
