ion-toolbar {
    --background: #456c60;
    --color: white;
}

.header-title {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: center;
    text-align: center;
}

.star {
    color: #456c60;
    margin-right: 0.55rem !important;
}

ion-label {
    font-size: 1.1rem !important;
    letter-spacing: 0.03rem !important;
    font-weight: 400;
    color: #202f29 !important;
}