<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">MY PROFILE</p>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="stacked">Full Name</ion-label>
    <ion-input [disabled]="disabled" [(ngModel)]="profile.fullName" pattern="^[a-z A-Z]+$" type="text" inputmode="text" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">*Email Address</ion-label>
    <ion-input [disabled]="true" [(ngModel)]="user.email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">I/C Num</ion-label>
    <ion-input [disabled]="disabled" [(ngModel)]="profile.icNum" type="number" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="stacked">Birthdate</ion-label>
    <ion-datetime [disabled]="disabled" displayFormat="D MMM YYYY" [(ngModel)]="profile.birthDate"></ion-datetime>
  </ion-item>

  <div class="gender">
    <ion-radio-group [(ngModel)]="profile.gender">
      <ion-list-header>
        <ion-label class="title">Gender</ion-label>
      </ion-list-header>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="option">Female</ion-label>
              <ion-radio slot="start" value="0" [disabled]="disabled"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item lines="none">
              <ion-label class="option">Male</ion-label>
              <ion-radio slot="start" value="1" [disabled]="disabled"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-radio-group>
  </div>
 
  <div class="parking">
    <p class="p1">Parking Details</p>
    <p class="p2">Parking: {{ parking?.parkingName}}-{{parking?.parkingNum}}</p>
    <p class="p2">Vehicle Model: {{ parking?.vehicleMod }}</p>
    <p class="p2" style="padding-bottom: 1.0rem;">Vehicle Plate: {{ parking?.vehiclePlate }}</p>
  </div>
  <p class="edit">*Cannot be edited</p>

  <div class="button">
    <ion-button size="default" (click)="editProfile(disabled, profile)">{{buttonText}}</ion-button>
  </div>

</ion-content>