ion-toolbar {
    --background: #456c60;
    --color: white;
}

.header-title {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: center;
    text-align: center;
}

.star {
    color: #456c60;
    margin-right: 0.55rem !important;
}

ion-item {
    --background: #eaf3e9;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

ion-label {
    font-size: 1.2rem !important;
    color: #4c4c4c !important;
    letter-spacing: 0.06rem;
    font-weight: 500;
}

ion-input {
    padding: 0.4rem 0 0.4rem 0 !important;
    font-weight: 400;
    color: #202f29;
    letter-spacing: 0.05rem;
    font-size: 1.05rem;
}

ion-datetime {
    padding: 0.8rem 0 0.8rem 0 !important;
    font-weight: 400;
    color: #202f29;
    letter-spacing: 0.04rem;
    font-size: 1.05rem;
}

ion-grid {
    padding: 0;
    margin-top: -1.4rem;
}

.gender {
    background: #eaf3e9;
    margin: 0.5rem;
    border-radius: 0.3rem;
}


.title {
    font-size: 1.0rem !important;
}

.option {
    font-size: 1.05rem !important;
    color: #202f29 !important;
    font-weight: 400;
}

.parking {
    background: #eaf3e9;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.p1 {
    padding: 1.0rem 0 0 1.0rem;
    font-size: 1.0rem;
    font-weight: 500;
    color: #4c4c4c;
    margin-top: 0.5rem;
    letter-spacing: 0.04rem;

}

.p2 {
    font-weight: 400;
    margin-left: 3.0rem;
    letter-spacing: 0.04rem;
    font-size: 1.05rem;
    color: #202f29;
    margin-bottom: -0.5rem;
}

ion-button {
    --background:  #de8c8a; 
    font-size: 1.0rem;
    margin: 3.0rem;
    width: 6.5rem;
}

.button {
    text-align: center;
}


.edit {
    margin-left: 0.7rem;
    font-size: 0.85rem;
    font-style: italic;
    margin-top: 1.0rem;
    letter-spacing: 0.02rem;
}
// #E89166;
