<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">ANNOUNCEMENT</p>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div *ngIf="announcement?.length > 0; else Empty">
    <ion-card *ngFor="let post of announcement" class="card-style" (click)="goToPostPage(post)">
      <ion-card-header>
        <ion-card-title class="card-title">{{ post?.newsTitle}}</ion-card-title>
        <ion-card-subtitle class="date">{{ post?.timestamp.toDate() |  date:'dd LLLL yyyy' }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content class="card-text">{{ post?.newsText }}</ion-card-content>
    </ion-card>
  </div>
  <ng-template #Empty>
    <p class="default">There is no recent announcements</p>
  </ng-template>
  
</ion-content>
