ion-toolbar {
    --background: #456c60;
    --color: white;
}

.header-title {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: center;
    text-align: center;
}

.star {
    color: #456c60;
    margin-right: 0.55rem !important;
}

.card-style {
    background: #f5f5f5;
    box-shadow: 0px 3px 3px 1px #dedada;
    margin: 1.0rem;
}

.card-title {
    text-align: center; 
    font-size: 1.2rem;  
}

.card-text {
    text-align: justify;
    font-size: 1.05rem;
    color: #3b3b3b;
}

ion-fab-button {
    --background: #E89166;
}

.date {
    text-align: -webkit-center;
    font-size: 0.9rem;
    color: #9a9a9a;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
}