<div *ngIf="complaints?.length > 0 || feedbacks?.length > 0; else Empty">
  <ion-grid>
    <ion-row *ngFor="let complaint of complaints" class="container" (click)="goToComplaintModal(complaint)">
      <ion-col size="8">
        <p class="title">{{ complaint?.complaintTitle }}</p>
        <p class="date">{{ complaint?.complaintDate.toDate() | date:'dd LLLL yyyy' }}</p>
      </ion-col>
      <ion-col size="4" class="second-col">
        <p class="com">Complaint</p>
      </ion-col>
    </ion-row>
  
    <ion-row *ngFor="let feedback of feedbacks" class="container" (click)="goToFeedbackModal(feedback)">
      <ion-col size="8">
        <p class="title">{{ feedback?.feedbackCategory }}</p>
        <p class="date">{{ feedback?.feedbackDate.toDate() | date:'dd LLLL yyyy' }}</p>
      </ion-col>
      <ion-col size="4" class="second-col">
        <p class="fb">Feedback</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>


<ng-template #Empty>
  <p class="default">There is no submitted complaint and feedback</p>
</ng-template>
