.container {
    background: #ebf7ea;
    width: auto;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.date {
    font-size: 0.95rem;
    font-style: italic;
    color: #939292;
    margin: 0;
    padding: 0.7rem 0rem 0.7rem 0.5rem;
    letter-spacing: 0.02rem;
}

.title {
    font-size: 1.15rem;
    color: #272323;
    letter-spacing: 0.03rem;
    margin: 0;
    padding: 0.6rem 0rem 0rem 0.6rem;
}

.fb {
    font-size: 1.1rem;
    color: #0dc359;
    letter-spacing: 0.03rem;
}

.com {
    font-size: 1.1rem;
    color: #ed0404;
    letter-spacing: 0.03rem;
}

.second-col {
    align-self: center;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
}