.container {
    height: fit-content;
    background: white;
    border-radius: 0.8rem;
    margin: 0.7rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.note {
    font-size: 1.0rem;
    font-weight: 500;
    color: #313030;
}

.note-style {
    --background: #f5f5f5;
}

.note-content {
    margin-top: -0.9rem;
    font-size: 0.95rem;
    letter-spacing: 0.02rem;
    text-align: justify;
    font-weight: 400;
    color: #797979;
}


.fb {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1.2rem;
    letter-spacing: 0.03rem;
    color: #37534b;
}

.content {
    font-weight: 400;
    font-size: 1.05rem;
    letter-spacing: 0.04rem;
    padding-top: 1.0rem;
    padding-left: 1.0rem;
    margin: 0;
}

ion-input {
    border-bottom: 1px solid #96b5ad;
    font-size: 1.1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

ion-textarea {
    border-bottom: 1px solid #96b5ad;
    font-size: 1.1rem;
    padding-left: 0.3rem;
    padding-right: 0.5rem;
    
}

.cancel {
    --color: #30403b;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
}

.submit {
    color: white;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    font-weight: 600;
    --background: #de8c8a;
}
