<ion-content>
  <div>
    <div style="margin-top: 1.0rem;">
      <p class="fb">NEW FEEDBACK</p>
      <p class="content">Title</p>
      <ion-input [(ngModel)]="feedback.feedbackCategory" placeholder="Enter title here" type="text" required></ion-input>
  
      <p class="content">Details</p>
      <ion-textarea rows="6" [(ngModel)]="feedback.feedbackDetails" placeholder="Enter more details here..."
        required type="text" spellcheck="true" autocapitalize="true"></ion-textarea>
  
      <p class="content">Suggestion</p>
      <ion-textarea rows="4" [(ngModel)]="feedback.suggestion" placeholder="Enter more details here..."
        required type="text" spellcheck="true" autocapitalize="true"></ion-textarea>
  
    </div>
  </div>
  
  <div style="margin: 3.0rem 1.0rem;">
    <ion-card class="note-style">
      <ion-item lines="none" class="note-style">
        <ion-label class="note">Note</ion-label>
      </ion-item>
      <ion-card-content class="note-content">
        Please note that you cannot edit or delete your feedback once you submitted it.
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" fill="clear" class="cancel" (click)="cancel()">CANCEL</ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" expand="block" class="submit" (click)="submitFeedback(feedback)">SUBMIT
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>