<div *ngIf="visited?.length > 0; else Empty">
  <ion-card *ngFor="let visitor of visited" class="card-style" (click)="goToVisitorDetails(visitor)">
    <ion-grid class="flex">
      <ion-row>
        <ion-col size="8">
          <ion-card-header class="card-header">
            <ion-card-title class="title">{{ visitor?.visName }}</ion-card-title>
            <ion-card-subtitle class="date">Visit date: {{ visitor?.visitDate | date:'dd MMMM yyyy' }}</ion-card-subtitle>
          </ion-card-header>
        </ion-col>
        <ion-col class="sec-col" size="4">
          <ion-card-content class="status">{{ visitor?.status }}</ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</div>

<ng-template #Empty>
  <p class="default">There is no visitor history</p>
</ng-template>
