.card-style {
    box-shadow: none;
    --background: #ebf7ea;
    border-radius: 0.3rem;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
}

.title {
    font-size: 1.15rem;
    color: #272323;
    letter-spacing: 0.03rem;
    margin: 0;
    padding: 0.6rem 0rem 0rem 0.6rem;
    font-weight: 400;
}

.date {
    font-size: 0.95rem;
    font-style: italic;
    color: #939292;
    margin: 0;
    padding: 0.7rem 0rem 0.7rem 0.5rem;
    letter-spacing: 0.02rem;
    font-weight: 400;
}

.status {
    font-size: 1.1rem;
    color: #ed0404;
    letter-spacing: 0.03rem;
    text-align: center;
}

.flex {
    display: flex;
    flex-direction: column;
}

.sec-col {
    align-self: center;
}

.card-header {
    padding: 0;
}


