<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">FACILITY</p>
  </ion-toolbar>
</ion-header>

<ion-segment (ionChange)="segmentChanged($event)" [(ngModel)]="option">
  <ion-segment-button value="Facility">
    <ion-label>Facility</ion-label>
  </ion-segment-button>
  <ion-segment-button value="Booking">
    <ion-label>Booking</ion-label>
  </ion-segment-button>
</ion-segment>

<ion-content>


  <app-all-facilities
  *ngIf="option == 'Facility'"
  [facility]="facility"
  [unit]="unit">

  </app-all-facilities>

  <app-bookings
  *ngIf="option == 'Booking'"
  [facility]="facility"
  [unit]="unit"
  [mybooking]="mybooking">

  </app-bookings>

</ion-content>
