ion-toolbar {
    --background: #456c60;
    --color: white;
}

.header-title {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: center;
    text-align: center;
}

.star {
    color: #456c60;
}


ion-fab-button {
    --background: #E89166;
}


ion-segment-button {
    --background-checked: transparent;
    --color-checked: #497f6d;
    font-size: 0.95rem;
    color: #2f2d2d;
}