// Terminal Dosis Extra Light
@font-face {
    font-family: Terminal Dosis;
    src: url(../assets/fonts/terminal-dosis/TerminalDosis-ExtraLight.ttf) format("truetype");
    font-weight: 100;
}

// Terminal Dosis Light
@font-face {
    font-family: Terminal Dosis;
    src: url(../assets/fonts/terminal-dosis/TerminalDosis-Light.ttf) format("truetype");
    font-weight: 300;
}

// Terminal Dosis Regular
@font-face {
    font-family: Terminal Dosis;
    src: url(../assets/fonts/terminal-dosis/TerminalDosis-Regular.ttf) format("truetype");
    font-weight: 400;
}

// Terminal Dosis Medium
@font-face {
    font-family: Terminal Dosis;
    src: url(../assets/fonts/terminal-dosis/TerminalDosis-Medium.ttf) format("truetype");
    font-weight: 500;
}

// Terminal Dosis Semi Bold
@font-face {
    font-family: Terminal Dosis;
    src: url(../assets/fonts/terminal-dosis/TerminalDosis-SemiBold.ttf) format("truetype");
    font-weight: 600;
}

// Terminal Dosis Bold
@font-face {
    font-family: Terminal Dosis;
    src: url(../assets/fonts/terminal-dosis/TerminalDosis-Bold.ttf) format("truetype");
    font-weight: 700;
}

// Terminal Dosis Extra Bold
@font-face {
    font-family: Terminal Dosis;
    src: url(../assets/fonts/terminal-dosis/TerminalDosis-ExtraBold.ttf) format("truetype");
    font-weight: 900;
}