<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-icon" class="back-icon" (click)="backToPage()"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="text-align: -webkit-center;">
    <p class="title">{{ complaint?.complaintTitle }}</p>
    <p class="details">{{ complaint?.complaintDetails }}</p>
    <p class="unit">By: Block {{ block }}-{{ unitNum }}</p>
    <p class="date">{{ complaint?.complaintDate.toDate() | date:'dd LLLL yyyy'}}</p>

  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>
          <ion-button class="close" (click)="close()">
            CLOSE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>