<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="box-container">
    <div class="image-box">
      <img src="assets/imgs/complexc.PNG">
      <div style="margin-top: 2.5rem;">
        <p>Email</p>
        <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
        <p>Password</p>
        <ion-input type="password" [(ngModel)]="user.password" required></ion-input>

        <ion-button expand="block" class="login-button" (click)="login(user)">
          LOGIN
        </ion-button>
        <!-- <ion-button expand="block" class="login-button" (click)="register(user, profile, unit)">
          REGISTER
        </ion-button> -->
      </div>
    </div>
  </div>
</ion-content>
