ion-content {
    --background: #75b29dad;
}

img {
    max-width: 38%;
    margin-top: 2.0rem;
}

.box-container {
    background: white;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 9px 2px #85b09e38;
    display: flex;
    justify-content: center;

    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%,-50%);
    width: 100%;
}

.image-box {
    text-align: center;
}

p {
    font-size: 1.1rem !important;
    letter-spacing: 0.04rem;
}

.login-button {
    text-align: center;
    --background: #E89166;
    margin-top: 3.5rem;
    font-size: 1.0rem;
    letter-spacing: 0.08rem;
    margin-bottom: 2.0rem;
}

ion-input {
    background: #F2F2F2;
    margin-top: 1.0rem;
    margin: auto;
    width: 18.0rem;
    border-radius: 30px;
}



