<div *ngIf="feedbacks?.length > 0; else Empty">
  <ion-grid>
    <ion-row *ngFor="let feedback of feedbacks" class="container" (click)="goToFeedbackModal(feedback)">
      <ion-col size="8">
        <p class="title">{{ feedback?.feedbackCategory }}</p>
        <p class="fb-date">{{ feedback?.feedbackDate.toDate() | date:'dd LLLL yyyy' }}</p>
      </ion-col>
      <ion-col size="4" class="second-col">
        <p class="fb">Feedback</p>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>

<ng-template #Empty>
  <p class="default">There is no submitted feedback</p>
</ng-template>

<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ion-fab-button (click)="goToAddFeedback(id, unitNum, block)">
    <ion-icon name="add" style="font-size: 1.5rem;"></ion-icon>
  </ion-fab-button>
</ion-fab>
