<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay" menuId="menu" swipeGesture="false">
      <ion-header class="ion-no-border">
        <ion-toolbar>
          <ion-title class="menu">
            COMPLEXC
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <div *ngFor="let p of url">
          <ion-menu-toggle *ngIf="p.url" auto-hide="false"> 
            <ion-item routerDirection="root" [routerLink]="[p.url]" routerLinkActive="active-item" detail="false">
              <ion-label class="title-menu">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>

          <ion-item *ngIf="p.children?.length > 0" (click)="p.click = !p.click"  
            [class.active-parent]="p.click" detail="false">
             <ion-icon slot="end" name="chevron-forward" *ngIf="!p.click"></ion-icon>
             <ion-icon slot="end" name="chevron-down" *ngIf="p.click"></ion-icon>
             <ion-label class="title-menu" style="padding-left: 2.6rem;">
               {{p.title}}
             </ion-label>
          </ion-item>
  
          <ion-list *ngIf="p.click">
            <ion-menu-toggle auto-hide="false">
              <ion-item class="sub-menu" *ngFor="let sub of p.children" routerDirection="root" [routerLink]="[sub.url]" routerLinkActive="active-item" detail="false">
                <ion-label>
                  {{sub.title}}
                </ion-label>
              </ion-item>
            </ion-menu-toggle>
          </ion-list>

        </div>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
