<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!-- <ion-item>
    <ion-label position="floating">Email</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="primary" expand="full" (click)="login(user)">
    Login
  </ion-button> -->

  <div class="box-container">
    <div class="image-box">
      <img src="assets/imgs/complexc.PNG" style="margin-top: -1.0rem;">
      <div style="margin-top: 2.5rem;">
        <p>Email</p>
        <ion-input type="email" [(ngModel)]="user.email" required></ion-input>
        <p>Password</p>
        <ion-input type="password" [(ngModel)]="user.password" required></ion-input>

        <ion-button expand="block" class="login-button" (click)="register(user, profile, unit)">
          REGISTER
        </ion-button>
      </div>
    </div>
  </div>
</ion-content>
