ion-content {
    --background: #DBEDE6;
}

img {
    max-width: 38%;
}

.box-container {
    height: 77vh;
    background: white;
    border-radius: 1.5rem;
    box-shadow: 0px 4px 9px 2px #85b09e38;
    margin-top: 5.0rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-box {
    text-align: center;
}

ion-input {
    margin: auto;
}

.login-button {
    text-align: center;
    --background: #E4804E;
    margin-top: 3.5rem;
}

ion-input {
    background: #F2F2F2;
    margin-top: 1.0rem;
    width: 17.0rem;
    border-radius: 10px;
}



