.title {
    text-align: center;
    font-size: 1.15rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: 500;
}

.details {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    font-weight: 500;
}

.icon {
    font-size: 1.8rem;
    margin-left: 1.3rem;
    margin-bottom: 0.5rem;
}

.text {
    margin: 0.4rem 0.5rem;

}

.calendar {
    font-size: 0.9rem;
    --color: #de8c8a;
    margin-left: -1.0rem;
    margin-top: 0rem;
}

.change {
    margin-left: 4.3rem;
    font-size: 0.9rem;
    margin-top: 0.1rem;
    --color: #de8c8a; 
}

.cancel {
    --color: #30403b;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

.add {
    color: white;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    --background: #de8c8a;
}

.div {
    padding-left: 0rem !important;
}