<div>
  <div>
    <img [src]="facility?.facilityImage">
    <p class="title">{{ facility.facilityName }}</p>
    <p class="details">Booking Details</p>
  </div>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="calendar-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="7">
          <p class="text">{{ date }}</p>
        </ion-col>
        <ion-col size="3">
          <ion-button size="small" fill="clear" class="calendar" (click)="openCalendar()">CHANGE</ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="2">
          <ion-icon name="time-outline" class="icon"></ion-icon>
        </ion-col>
        <ion-col size="9">
          <ion-item style="margin: -0.7rem; margin-left: -0.4rem;">
            <ion-label>Select slot</ion-label>
            <ion-select [(ngModel)]="timeslot" interface="action-sheet" class="custom-options">
              <div *ngIf="availableSlots" class="div">
                <ion-select-option [value]="availableSlots[0][i]" *ngFor="let slot of availableSlots[0]; let i = index">
                  {{ slot }}
                </ion-select-option>
              </div>
            </ion-select>
          </ion-item>
        </ion-col>
          <!-- <ion-button size="small" fill="clear" class="change" (click)="pickSlot()">CHANGE</ion-button> -->
      </ion-row>
    </ion-grid>
  </div>
</div>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" fill="clear" class="cancel" (click)="cancel()">CANCEL</ion-button>
        </ion-col>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" expand="block" class="add" (click)="bookFacility()">SUBMIT
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>