<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">COMPLAINT & FEEDBACK</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-segment (ionChange)="segmentChanged($event)" value="all">
    <ion-segment-button value="all">
      <ion-label>All</ion-label>
    </ion-segment-button>
    <ion-segment-button value="complaint">
      <ion-label>Complaint</ion-label>
    </ion-segment-button>
    <ion-segment-button value="feedback">
      <ion-label>Feedback</ion-label>
    </ion-segment-button>
  </ion-segment>

    <app-display-all
    *ngIf="value == 'all'"
    [id]="unit.unitID"
    [block]="unit.block"
    [unitNum]="unit.unitNum"
    [complaints]="complaint"
    [feedbacks]="feedback">
    </app-display-all>
  
    <app-complaint 
    *ngIf="value == 'complaint'"
    [id]="unit.unitID"
    [block]="unit.block"
    [unitNum]="unit.unitNum"
    [complaints]="complaint">
    </app-complaint>
  
    <app-feedback
    *ngIf="value == 'feedback'"
    [id]="unit.unitID"
    [block]="unit.block"
    [unitNum]="unit.unitNum"
    [feedbacks]="feedback">
    </app-feedback>

</ion-content>
