.book {
    --background: #de8c8a;
    text-align: center;
    font-size: 0.9rem;
    margin-bottom: 1.0rem;
}

.back-icon {
    font-size: 1.6rem;
    margin: 0.6rem;
    color: #4d7268;
}

.post-title {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: 1.5rem auto 1.2rem auto;   
}

.post-text {
    margin: 1.5rem;
    text-align: justify;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
    font-size: 1.1rem;
    color: #413b3b;
}

.hours {
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    text-align: center;
    margin: 3.0rem auto 1.2rem auto;
    text-transform: uppercase;      
}

.border {
    border-bottom: 1px solid #6d8e82;
}

.slot {
    margin: 0.5rem;
    letter-spacing: 0.02rem;
}

.day {
    letter-spacing: 0.05rem;
    font-weight: 500;
    font-size: 1.05rem;
}

.note {
    font-size: 1.0rem;
    font-weight: 500;
    color: #313030;
}

.note-style {
    --background: #f5f5f5;
}

.note-content {
    margin-top: -0.9rem;
    font-size: 0.95rem;
    letter-spacing: 0.02rem;
    text-align: justify;
    font-weight: 400;
    color: #797979;
}



