<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="close-outline" class="back-icon" (click)="back()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="facility?.facilityImage">
  <div>
    <p class="post-title">{{ facility?.facilityName }}</p>
    <p class="post-text">{{ facility?.facilityDesc }}</p>
  </div>

  <div style="margin: 3.0rem 1.0rem;">
    <ion-card class="note-style">
      <ion-item lines="none" class="note-style">
        <ion-label class="note">Note</ion-label>
      </ion-item>
      <ion-card-content class="note-content">
        Please note that residents can only book 14 days in advance based on the facility's operation day and hours.
      </ion-card-content>
    </ion-card>
  </div>

  <div>
    <p class="hours">DAY AND TIMESLOTS</p>
    <div *ngFor="let hours of ophours; let i = index">
      <ion-grid *ngIf="hours">
        <ion-row class="border">
          <ion-col style="align-self: center; text-align: center;" size="6">
            <p class="day">{{ hours.id}}</p>
          </ion-col>
            <ion-col size="6" style="margin-bottom: 0.5rem;">
              <ion-row *ngFor="let slot of hours.slot">
                <p class="slot">{{ slot }}</p>
              </ion-row>
            </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div style="text-align: center; margin: 2.0rem;">
    <ion-button class="book" (click)="bookFacility()">BOOK THIS FACILITY</ion-button>
  </div>
</ion-content>
<!-- 
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div style="text-align: center;">
      <ion-button class="book" (click)="bookFacility()">BOOK THIS FACILITY</ion-button>
    </div>
  </ion-toolbar>
</ion-footer> -->