<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">COMPLEXC</p>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="bg-shape"></div>

  <div class="box">
    <div class="details">
      <p class="unit-name"> Block {{unit?.block}}-{{unit?.unitNum}} </p>
      <p class="building-name">Crystal Residency</p>
    </div>
    <ion-button fill="outline" size="small" class="profile" (click)="goToProfile(unit.userID)">PROFILE</ion-button>
  </div>

  <div>
    <p class="first-title">HOME ACTIONS</p>
    <div>
      <ion-grid>
        <ion-row style="padding: 1.2rem;">
          <ion-col *ngFor="let action of actionCategory; let i = index" size="6">
            <img [src]="action?.img" (click)="doAction(i)">
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <div>
    <p class="second-title">LATEST ANNOUNCEMENTS</p>
    <div *ngIf="announcement?.length > 0; else Empty">
      <div *ngFor="let post of announcement" (click)="goToPostPage(post)">
        <ion-list lines="inset" class="news-style">
          <ion-item>
            <ion-label class="ion-text-wrap">
              <ion-text>
                <h2 class="news-title">{{ post?.newsTitle }}</h2>
              </ion-text>
              <p class="news-text">{{ post?.editText }}</p>
              <p class="date-style">{{ post?.timestamp.toDate() | date:'dd LLLL yyyy' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div *ngIf="announcement?.length > 0">
      <ion-button fill="solid" class="button-show" (click)="goToAnnouncementPage()">SHOW ALL</ion-button>
    </div>
    <ng-template #Empty>
      <p class="default">No recent annoucements to display</p>
    </ng-template>
    
  </div>

</ion-content>