ion-toolbar {
    --background: #456c60;
    --color: white;
}

.header-title {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: center;
    text-align: center;
}

.star {
    color: #456c60;
    margin-right: 0.55rem !important;
}

.bg-shape {
    width: inherit;
    height: 130px;
    background:#456c60;
    border-radius: 140px / 80px;
    margin: -50px;
}

.box {
    background: white;
    border-radius: 0.6rem;
    box-shadow: 0px 4px 6px 1px #85b09e38;
    display: block;
    // width: 18.0rem;
    height: 8.0rem;
    width: 80vw;
    margin: -4.0rem auto 2.5rem auto;
}

.details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 1.5rem;
    padding-left: 1.4rem;
}

.profile {
    --border-color: #5e9180;
    --color: #5e9180; 
    float: right;
    margin-right: 1.1rem;
    margin-top: -0.8rem;
    font-size: 0.75rem;
}
  
.details p {
    margin: 0;
}

.unit-name {
    font-size: 1.15rem; 
    font-weight: 500;
    padding-bottom: 0.5rem;
    letter-spacing: 0.03rem;
}

.building-name {
    font-size: 1.05rem;
    font-weight: 400;
    padding: 0.2rem 0rem 1.2rem 0rem;
    letter-spacing: 0.03rem;
    font-style: italic;
}

.first-title {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.1rem;
    letter-spacing: 0.03rem;
}

.second-title {
    font-weight: 500;
    font-size: 1.1rem;
    text-align: center;
    margin-bottom: 0.1rem;
    letter-spacing: 0.03rem;
}

.news-style {
    margin: 0.1rem 0.8rem 0rem 0rem;
}

.date-style {
    margin-left: 0.5rem;
    margin-bottom: 0.6rem;
    font-style: italic;
    letter-spacing: 0.03rem;
    color: #807b7b;
    font-size: 0.9rem;
    font-weight: 400;
}
  
.news-title {
    color: #436d5e;
    font-weight: 400;
    text-decoration: underline;
    margin: 0rem 0.2rem 0.1rem 0.5rem;
    font-size: 1.1rem;
    letter-spacing: 0.03rem;

}
  
.news-text {
    color: black;
    font-size: 1.1rem;
    font-weight: 100;
    text-align: justify;   
    margin: 0.8rem 0rem 1.0rem 0.5rem;
    line-height: 1.4rem;
    letter-spacing: 0.04rem;
}

.button-show {
    --background: #456c60;
    float: right;
    margin: 4.0rem 2.0rem 3.5rem 0;
}

.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
    margin-top: 3.0rem;
    margin-bottom: 3.0rem;
}








