.back-icon {
    font-size: 1.8rem;
    margin: 0.8rem;
    color: #3e514c;
}

.title {
    font-size: 1.3rem;
    font-weight: 500;
    text-align: center;
    margin: 3.5rem auto 1.2rem auto;   
}

.details {
    margin: 1.5rem;
    text-align: justify;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
    font-size: 1.1rem;
    color: #413b3b;
}

.close {
    --background: #de8c8a;
    width: 7.0rem;
}