<!-- <ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="arrow-back-outline" class="back-icon" (click)="backToPage()"></ion-icon>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div style="text-align: -webkit-center;">
    <p class="title">Invoice Details</p>
    <p class="details">This is a notice from the management that relates to your invoice. The total invoice regarding {{
      invoice?.category }} for Block {{ invoice?.block }}-{{ invoice?.unitNum}} is RM {{ invoice?.amountInvoice }}. Please
      do be reminded that the payment is due on {{ invoice?.dueDate | date:'dd MMMM yyyy' }}.</p>
    <p class="details">Thank you and have a great day ahead.</p>
  </div>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row style="text-align: center;">
        <ion-col>
          <ion-button class="close" (click)="close()">
            CLOSE
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>