<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-title class="title">Select Date</ion-title>
    <ion-buttons slot="end">
      <ion-icon name="close-outline" class="close" (click)="cancel()"></ion-icon>
      <ion-icon name="checkmark-outline" class="done" (click)="done()"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-calendar 
  [(ngModel)]="date"
  [type]="type"
  [format]="'YYYY-MM-DD'"
  [options]="options">
  </ion-calendar>

</ion-content>