ion-toolbar {
    --background: #456c60;
    --color: white;
}

.close {
    --color: white;
    font-size: 1.9rem;
    margin-right: 0.8rem;
}

.done {
    --color: white;
    margin-right: 0.5rem;
    font-size: 1.9rem;
}


.title {
    font-size: 1.2rem;
    letter-spacing: 0.12rem;
    font-weight: 400;
}