ion-toolbar {
    --background: #456c60;
    --color: white;
}

.header-title {
    font-size: 1.2rem;
    letter-spacing: 0.15rem;
    align-self: center;
    text-align: center;
}

.star {
    color: #456c60;
    margin-right: 0.55rem !important;
}

.container {
    background: #ebf7ea;
    width: auto;
    margin: 0.5rem;
    border-radius: 0.3rem;
}

.title {
    font-size: 1.15rem;
    color: #272323;
    letter-spacing: 0.03rem;
    margin: 0;
    padding: 0.6rem 0rem 0rem 0.6rem;
}

.date {
    font-size: 0.95rem;
    font-style: italic;
    color: #939292;
    margin: 0;
    padding: 0.7rem 0rem 0.7rem 0.5rem;
    letter-spacing: 0.02rem;
}


.second-col {
    align-self: center;
}

.amount {
    font-size: 1.1rem;
    color: #ed0404;
    letter-spacing: 0.03rem;
}

ion-searchbar {
    --border-radius: 1.1rem;
    --box-shadow: 0px 1px 8px -3px #a1a1a1;
    padding: 0rem 1.0rem 0.5rem 1.0rem;
}

.searchbar-input {
    font-size: 10px !important;
  }

.default {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-style: italic;
}