<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="secondary" disabled="true">
      <ion-icon slot="icon-only" name="star" class="star"></ion-icon>
    </ion-buttons>
    <p class="header-title">INVOICE</p>
  </ion-toolbar>

  <ion-toolbar>
    <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)" placeholder="Search invoice category..."></ion-searchbar>  
  </ion-toolbar> 
</ion-header>

<ion-content>
 
  <div *ngIf="invoice?.length > 0; else Empty">
    <ion-grid>
      <ion-row *ngFor="let iv of invoice" class="container" (click)="openInvoiceDetails(iv)">
        <ion-col size="8">
          <p class="title">{{ iv?.category }}</p>
          <p class="date">Due: {{ iv?.dueDate | date:'dd MMMM yyyy' }}</p>
        </ion-col>
        <ion-col size="4" class="second-col">
          <p class="amount">RM {{ iv?.amountInvoice}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <ng-template #Empty>
    <p class="default">You have no recent invoice</p>
  </ng-template>

</ion-content>