.back-icon {
    font-size: 1.8rem;
    margin: 0.8rem;
    color: #3e514c;
}

.title {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    margin: 3.5rem auto 1.2rem auto;
    letter-spacing: 0.03rem;   
}

.suggest {
    font-size: 1.15rem;
    font-weight: 500;
    text-align: center;
    margin: 1.5rem auto 1.2rem auto;
    letter-spacing: 0.03rem;   
}

.details {
    margin: 1.5rem;
    text-align: justify;
    font-weight: 400;
    letter-spacing: 0.05rem;
    line-height: 1.4rem;
    font-size: 1.08rem;
    color: #413b3b;
}

.date {
    font-size: 0.95rem;
    font-style: italic;
    margin-left: 1.4rem;
    font-weight: 400;
    letter-spacing: 0.02rem;
    color: #786f6f;
    text-align: left;
}

.close {
    --background: #de8c8a;
    margin-top: 4.0rem;
    width: 7.0rem;
}

.unit {
    text-align: left;
    margin: 5.0rem 0rem 0rem 1.5rem;
    font-size: 1.0rem;
    color: #6c6c6c;
}