<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-icon name="close-outline"  class="back-icon" (click)="backToPage()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <div>
      <img [src]="book.facilityImage">
      <p class="title">{{book.facilityName}}</p>
      <p class="details">Booking Details</p>
    </div>
    <div>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="calendar-outline" class="icon"></ion-icon>
          </ion-col>
          <ion-col size="7">
            <p class="text">{{book.date}}</p>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="4">
            <ion-icon name="time-outline" class="icon"></ion-icon>
          </ion-col>
          <ion-col size="7">
            <p class="text">{{book.slot}}</p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div style="text-align: center;">
      <ion-button class="button" (click)="cancelBooking()">
        CANCEL BOOKING
      </ion-button>
    </div>

  </div>
</ion-content>
