.back-icon {
    font-size: 1.6rem;
    margin: 0.6rem;
    color: #4d7268;
}
.title {
    text-align: center;
    font-size: 1.15rem;
    text-transform: uppercase;
    letter-spacing: 0.02rem;
    font-weight: 500;
}

.details {
    text-align: center;
    font-size: 1.1rem;
    letter-spacing: 0.02rem;
    font-weight: 500;
}

.icon {
    font-size: 1.8rem;
    float: right;
    margin-bottom: 0.5rem;
}

.text {
    margin: 0.4rem 0.4rem;
}

.button {
    --background: #e23030;
    margin-top: 3.0rem;
}