<div class="container">
  <div style="margin-top: 1.0rem;">
    <p class="title">REGISTER VISITOR</p>

    <p class="content">Full Name</p>
    <ion-input [(ngModel)]="visitor.visName" type="text" required></ion-input>

    <p class="content">Phone Number</p>
    <ion-input [(ngModel)]="visitor.visPhone" type="number" required></ion-input>

    <p class="content">Vehicle Model</p>
    <ion-input [(ngModel)]="visitor.vehicle" type="text" required></ion-input>

    <p class="content">Plate Number</p>
    <ion-input [(ngModel)]="visitor.vehiclePlate" type="text" required></ion-input>

    <!-- <ion-item>
      <p class="content">Date of Visit</p>
      <ion-datetime displayFormat="D MMM YYYY" [(ngModel)]="visitor.visitDate"></ion-datetime>
    </ion-item> -->
    <ion-item>
      <ion-label class="date" position="stacked">Date of Visit</ion-label>
      <ion-datetime displayFormat="D MMM YYYY" placeholder="Select Date" [(ngModel)]="visitor.visitDate" [min]="visitDate" max="2021"></ion-datetime>
    </ion-item>
    

  
  </div>
</div>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" fill="clear" class="cancel" (click)="cancel()">CANCEL</ion-button>
        </ion-col>

        <ion-col size="6" class="ion-text-center">
          <ion-button expand="full" expand="block" class="add" (click)="addVisitor(visitor)">SUBMIT
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>