.container {
    height: fit-content;
    background: white;
    border-radius: 0.8rem;
    margin: 0.7rem;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.title {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
    padding-top: 1.2rem;
    letter-spacing: 0.03rem;
    color: #37534b;
}

.content {
    font-weight: 400;
    font-size: 1.05rem;
    letter-spacing: 0.04rem;
    padding-top: 1.0rem;
    padding-left: 1.0rem;
    margin: 0;
}

.cancel {
    --color: #30403b;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
}

.add {
    color: white;
    font-size: 1.0rem;
    letter-spacing: 0.05rem;
    font-weight: 500;
    --background: #de8c8a;
}

ion-input {
    border-bottom: 1px solid #96b5ad;
    font-size: 1.1rem;
    padding-left: 0.5rem !important;
    padding-right: 0.5rem !important;
}

.date {
    margin: 0.5rem 0 0.6rem 0;
    font-size: 1.5rem;
}

ion-datetime {
    font-size: 1.05rem;
}